@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #f2f2f2;
}

#app {
    width: 50%;
    margin: 0 auto
}

#color-form {
    display: flex;
    padding: 20px 10px;
    background-color: #1F2937;
    align-content: center;
    justify-content: space-between;

}


#colorSchemeContainer {
    display: flex;
    align-items: stretch;
}

label{
    display: flex;
    align-items: center;
}

.color-divs {
    padding: 20px 10px;
    text-align: center;
    color: white;
    background-color: #1F2937;
}

.colors {
    height: 75vh;
     width: 100%;
    align-content: end;
}

button {
    background-color: #3D4B60;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;

    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;

}

#color {
width: 61px;
height: 43px;
opacity: 1;
margin: none;

}

#colorMode {
    background-color: #1F293A;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;       
    line-height: 24px;
    letter-spacing: 0%;
    width: 75%;
    padding: 10px;
}